"*":
  "atom-beautify":
    general:
      _analyticsUserId: "859a99b2-e770-4479-9981-027794ec8b44"
    html: {}
    python:
      default_beautifier: "yapf"
      formater: "yapf"
      sort_imports: true
    vue:
      end_with_newline: true
      indent_inner_html: true
  "autocomplete-python":
    extraPaths: "/home/yippee/.virtualenvs/$PROJECT_NAME/lib/python2.7/site-packages;/home/yippee/GlobalProject/$PROJECT_NAME/venv/lib/python2.7/site-packages;/home/yippee/.local/lib/python2.7/site-packages;/usr/lib/python2.7/dist-packages/"
    outputDebug: true
    outputProviderErrors: true
    pythonPaths: "/home/yippee/.virtualenvs/$PROJECT_NAME/bin/python;/home/yippee/GlobalProject/$PROJECT_NAME/venv/bin/python;/usr/bin/python"
    useSnippets: "all"
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    projectHome: "/home/yippee/GlobalProject"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "8b15e4d8-1784-c18f-99cf-b9bae3576d41"
  "highlight-selected":
    highlightBackground: true
    ignoreCase: true
    lightTheme: true
  linter: {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  "linter-pycodestyle":
    executablePath: "/usr/local/bin/pycodestyle"
  "linter-ui-default": {}
  "one-light-ui": {}
  "platformio-ide-terminal":
    style:
      theme: "pro"
    toggles:
      autoClose: true
  "quick-highlight": {}
  "relative-numbers": {}
  "symbols-tree-view":
    autoToggle: true
    defaultWidth: 255
  "sync-settings":
    _lastBackupHash: "acb97192b2d9344ab46b91379e94b1951102174b"
    gistId: "23b486a4ed147b7155fe8fae2a5bff7b"
    personalAccessToken: ""
  "terminal-plus":
    core: {}
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearRangeMarkerOnResetNormalMode: true
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".gitignore.source":
  editor:
    tabLength: 4
